<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col">
        <h1>Olá, {{ username }} </h1>
      </div>
      <ul class="nav col d-flex justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-secondary" [routerLink]="['../home']">Usuários</a></li>
        <li><a class="nav-link px-2 link-secondary" [routerLink]="['../messages']">Mensagens</a></li>
      </ul>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">Sair</button>
      </div>
    </header>
  </div>